* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

/*#kk {
	height: 100%;
	width: 150%;
	text-align: center;
	padding-right: 175px;
}*/

footer {
	color: black;
	z-index: 1;
	height: 5vh;
	width: 100%;
	position: absolute;
	padding: 2px;
	/*bottom: 0;*/
}

#kkchocooreo, #milkchocomochacillo, #jcoccino {
	height: 60vh;
	width: 40vw;
}

#darkmocha, #moolatte, #mochasupreme {
	height: 65vh;
	width: 35vw;
}

/*.breadcrumb {
	color: black;
	z-index: 1;
	height: 5vh;
	width: 100%;
}*/

#landingpage {
	height: 80vh;
}

#banner {
	margin-top:20vh;
}

#contact {
	/*height:10vh;*/
	/*z-index: 1;*/
}

#misyon, #bisyon {
	letter-spacing: 4px;
}

.jumbotron {
	background: rgba(0,0,0,0.1);
}

#sendemail {
	border-radius: 0;
}

#video-lp {
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.stopfade { 
   opacity: .5;
}

#home, #gallery, #contact{
	background-image: linear-gradient(to right, #8E2DE2 , #4A00E0);
	/*z-index: 0;*/
	}

#about {
	background-image: url(../images/about-bg.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		width: auto;
		max-width: 100% ;
		z-index:0;
}	

/*#missiontext, #visiontext {
	z-index:1;
	color: gray;
}*/

/*iframe {
	transform: translateX(-75%) translateY(-75%);
}*/

a:link, a:visited {
	color: white;
	text-decoration: none;
 }

h5 {
	color: black;
}

.navbar {
	width: 100%;
	z-index: 1;
}


/*.carousel-inner {
	width: 100%;
	height: 80vh;
}*/

.carousel-item {
	width: 100%;
	height: 85vh;
}


#Slide1, #Slide2, #Slide3 {
	height: 85vh;
	width: 100%;
}

#thumbnail1 {
	width: 100%;
	height: 100%
}

#missiontext, #visiontext {
	background: rgba(0,0,0,0.1);
}

/*#kkchocooreo {
	z-index: 1;
	width: 45%;
	height: 85%;
}*/

/*#firstcontent {
	margin: 0 auto;
}*/

/*body {
	background-image: linear-gradient(to right, #8E2DE2 , #4A00E0);
	z-index: 0;
}*/

@media only screen and (min-width: 401px) and (max-width: 960px) {
	/*#kkchocooreo {
	z-index: 1;
	width: 45%;
	height: 85%;
	}*/
	/*#kkchocooreo, #mochaibc, #milkchocomochacillo, #jcoccino {
	height: auto;
	width: auto;
	}*/
	#landingpage {
		/*display: none;*/
		background-image: url(../images/bg-mb.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		width: auto;
		max-width: 100%;
		height: 100vh;
	}
	#kkchocooreo, #darkmocha, #mochaibc, #moolatte, #milkchocomochacillo, #jcoccino, #mochasupreme, #yardshake, #dometwister, #mochafrappe {
	height: auto;
	width: auto;
	}
	.carousel-item {
	width: 100%;
	height: 50vh;
	}
#Slide1, #Slide2, #Slide3 {
	height: 50vh;
	width: 100%;
	}
} 

/*Mobile*/
@media only screen and (max-width: 400px) {
	/*.carousel {

	}*/
	/*iframe {
		margin-top: 1vh;
	}*/
	.carousel-item {
	width: 100%;
	height: 35vh;
	}
#Slide1, #Slide2, #Slide3 {
	height: 35vh;
	width: 100%;
	}
	#landingpage {
		/*display: none;*/
		background-image: url(../images/bg-mb.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		width: auto;
		max-width: 100% ;
		height: 100%;
	}
	/*body {
		background-image: url(../images/bg-mb.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		width: auto;
		max-width: 100% ;
	}*/
	#about {
	background-image: url(../images/about-img2.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		width: auto;
		height: auto;
		max-width: 100% ;
		z-index:0;
		/*color: gray;*/
	}	
/*#missiontext {
	color: gray;
	z-index:1;
	}
#visiontext {
	z-index:1;
	color: gray;
	}	*/
footer {
	height: 5vh;
	width: 100%;
	}
.navbar {
	width: 100%;
	}
	#kkchocooreo, #darkmocha, #mochaibc, #moolatte, #milkchocomochacillo, #jcoccino, #mochasupreme, #yardshake, #dometwister, #mochafrappe {
	height: auto;
	width: auto;
	}
}